<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
<body>
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
         <li>
            <a href="/contacts/">Контакты</a>
        </li>
        <li>
            <a href="/results/">Результаты</a>
        </li>
        <li>
            <a href="/run/">Запуск</a>
        </li>
    </ul>
    Телефон 292839283
        <hr>
        <br>

    дата создания: {{creation_date}}
        <br>
    разработчик: {{name}}
</head>
<body>

</body>
</html>